{% extends 'core/base.html' %}
{% block header %}
<h1 class="header center orange-text">Upload your songs to Google Play Music, for free!</h1>
{% if request.user.is_authenticated %}
<div class="row center">
    <h5 class="header">MusicManager working: {{ login_success }}</h5>
    <h5 class="header">Uploaded till now: {{ currently_uploaded }}</h5>
    <h5 class="header">Upload limit: {{ upload_limit }}</h5>
</div>
{% else %}
<div class="row center">
    <a href="{% url 'login' %}"><button class="waves-effect waves-light btn col s12 m3 offset-m2 light">Login</button></a>
    <a href="{% url 'registration' %}"><button class="waves-effect waves-light btn col s12 m3 offset-m2 light">Register</button></a>
</div>
{% endif %}
{% endblock %}
{% block body %}
{% if default_fields_form %}
<div class="container">
<h4>Default Fields for Music Upload</h4>
<form method="POST">
	{% csrf_token %}
	{{ default_fields_form }}
	<button class="btn waves-effect waves-light" type="submit">Submit</button>
</form>
</div>
{% endif %}
{% endblock %}
